nav.navbar {
  transition: background-color $transition-duration ease-in;
  @include mat-elevation(0);
  [dropdown] a [dropdown-toggle] {
    display: inline-block;
    padding-left: $padding-xs-horizontal;
    @media (max-width: $screen-xs-max) {
      float: right;
      padding: 0 $navbar-padding-horizontal;
    }
  }
}
