[ui-view=header] {
  transition: opacity $transition-duration ease-in-out;
  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
  }
  &.ng-enter {
    opacity: 0;
  }
  
  &.ng-enter-active {
    opacity: 1;
  }
  
  &.ng-leave {
    opacity: 1; 
  }
  
  &.ng-leave-active {
    opacity: 0;
  }
}
.top-view-wrapper {
  [ui-view] {
    &.ng-enter, &.ng-leave {
      position: absolute;
      left: 0;
      right: 0;
      transition: opacity $transition-duration ease-in-out;
    }
    
    &.ng-enter {
      opacity: 0;
    }
    
    &.ng-enter-active {
      opacity: 1;
    }
    
    &.ng-leave {
      opacity: 1; 
    }
    
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
